<template>
  <v-app>
    <v-toolbar
      color="#E31D1A"
      >
      <img src="/static/img/lancers.jpg" height="60" />
      <v-toolbar-title>
        Roosevelt Elementary Snap Words
      </v-toolbar-title>
      <v-tabs
        v-model="active"
        color="#E31D1A"
        slider-color="black"
        centered
        slot="extension"
      >
        <v-tab>
          List 1
        </v-tab>
        <v-tab>
          List 2
        </v-tab>
        <v-tab>
          List 3
        </v-tab>
        <v-tab @click="reshuffle">
          Random
        </v-tab>
      </v-tabs>
    </v-toolbar>
    <v-container>
      <v-layout row justify-space-around>
        <v-layout column justify-center @click="prevCard">
          <v-flex xs2>
            <v-icon
              :disabled="cardNumber == 0"
            >arrow_back_ios</v-icon>
          </v-flex>
        </v-layout>
        <v-layout column justify-center fill-height>
          <v-flex xs8>
            <card :word="activeList[cardNumber]" ref="Card"></card>
            <div><center>{{ cardNumber + 1 }} of {{ activeList.length }}</center></div>
          </v-flex>
        </v-layout>
        <v-layout column justify-center align-end @click="nextCard">
          <v-flex xs2>
            <v-icon
              :disabled="cardNumber == activeList.length"
            >arrow_forward_ios</v-icon>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-container>
    <v-footer class="pa-3">
      <v-spacer></v-spacer>
        <div>Created by Michael Strudas of &nbsp;<a href="https://ninetofivecomputers.com">Nine to Five Computers</a>&nbsp;&copy; {{ new Date().getFullYear() }}</div>
      <v-spacer></v-spacer>
    </v-footer>
  </v-app>
</template>

<script>
import Card from '@/components/card.vue'
import List1 from '@/assets/list1.js'
import List2 from '@/assets/list2.js'
import List3 from '@/assets/list3.js'

function shuffle (array) {
  let currentIndex = array.length
  let randomIndex
  let temporaryValue
  while (currentIndex > 0) {
    randomIndex = Math.floor(Math.random() * currentIndex)
    currentIndex -= 1

    temporaryValue = array[currentIndex]
    array[currentIndex] = array[randomIndex]
    array[randomIndex] = temporaryValue
    // eslint-disable-next-line
    // [array[currentIndex], array[randomIndex]] = [array[randomIndex], array[currentIndex]]
  }
  return array
}
const Combined = [].concat(List1, List2, List3)
const Random = shuffle(Combined)
const Lists = [List1, List2, List3, Random]

export default {
  name: 'App',
  data () {
    return {
      active: 0,
      cardNumber: 0
    }
  },
  methods: {
    nextCard () {
      this.cardNumber = Math.min(this.cardNumber + 1, this.activeList.length - 1)
    },
    prevCard () {
      this.cardNumber = Math.max(this.cardNumber - 1, 0)
    },
    reshuffle () {
      Lists[3] = shuffle(Random)
      this.cardNumber = 0
      this.$forceUpdate()
    }
  },
  computed: {
    activeList () {
      return Lists[this.active]
    }
  },
  components: {
    Card
  },
  watch: {
    'active' (to) {
      this.cardNumber = 0
    }
  }
}
</script>

<style scoped>
</style>
